@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Variable.ttf) format("truetype");
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

:root {
    --bg-color: #000000;
    --section-bg: #0A0A0A;
    --border: #505050;
    --padding: 15px;
    --transition: 0.2s ease-in-out;
}

body {
    background-color: var(--bg-color);
}

main {
    box-sizing: border-box;
    padding: 30px;
    display: grid;
    gap: calc(var(--padding) * 1.5);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
}

section {
    display: flex;
    flex-direction: column;
    padding: var(--padding) var(--padding) 5px var(--padding);
    border-radius: 5px;
    color: white;
    background-color: var(--section-bg);
    border: 1px solid var(--border);
    transition: border var(--transition);
}

section:hover {
    border: 1px solid gray;
}

section h2 {
    font-size: 0.8rem;
    margin-bottom: var(--padding);
}

section h1 {
    color: gray;
    font-size: 0.8rem;
    text-transform: uppercase;
}

section .exercises {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

section div {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding) 0px;
}

section div ul {
    list-style-position: inside;
    list-style-type: square;
}

section div ul a {
    text-decoration: none;
    color: white;
    transition: color var(--transition);
}

section div ul a:hover {
    color: darkgray;
}

@media screen and (max-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}