@font-face {
	font-family: Orbitron;
	src: url(./fonts/Orbitron-Variable.ttf) format("truetype");
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: Orbitron;
	color: var(--text-color);
}

:root {
	--text-color: #82A5CA;
}

nav {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	padding: 20px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav img {
	width: 220px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(./assets/galaxy.webp);
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	background-position: 0% 40%;
	gap: 30px;
}

header h1 {
	font-size: 5rem;
	text-shadow: 0px 0px 4px black;
}

header button {
	background-color: white;
	border: none;
	font-size: 1.7rem;
	padding: 5px 15px;
	font-weight: bold;
	cursor: pointer;
}

header span {
	border-bottom: 6px solid white;
}

h3 {
	margin-top: 20px;
	font-size: 1.8rem;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	header h1 {
		font-size: 4rem;
	}

	header button {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 768px) {
	header h1 {
		font-size: 3rem;
	}

	header button {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 500px) {
	header h1 {
		font-size: 1.8rem;
	}

	header span {
		border-bottom: 4px solid white;
	}

	header button {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 1.2rem;
	}
}