@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Variable.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Digital7;
    src: url("./fonts/digital7.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

::selection {
    background-color: var(--white);
    color: black;
}

:root {
    font-family: Roboto;
    --lime: #00FF00;
    --white: #F5F3F5;
    --tomato: #FF674D;
    --blue: #7776BC;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main .timer {
    font-size: 8rem;
    color: var(--white);
    font-family: Digital7;
}

.hide {
    display: none !important;
    border: 2px solid #585858;
}

.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.controls button {
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.controls button:disabled {
    cursor: default;
}

.controls button svg {
    width: 2.2rem;
    color: black;
}

.start,
.stop {
    background-color: var(--lime);
}