@font-face {
	font-family: Roboto;
	src: url("/fonts/Roboto-Variable.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: Digital7;
	src: url("./fonts/digital7.ttf") format("truetype");
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

::selection {
	background-color: var(--white);
	color: black;
}

:root {
	font-family: Roboto;
	--lime: #00FF00;
	--white: #F5F3F5;
	--tomato: #FF674D;
	--blue: #7776BC;
	--border: #585858;
}

body {
	box-sizing: border-box;
	padding: 0px 1.5rem 3rem 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40% 1fr;
	height: 100vh;
	background-color: black;
	gap: 2.5rem;
}

.stopwatch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5rem;
}

.timer {
	font-size: 8rem;
	color: var(--white);
	font-family: Digital7;
}

.hide {
	display: none !important;
	border: 2px solid var(--border);
}

.controls {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.controls button {
	border: 2px solid transparent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	cursor: pointer;
	transition: transform 0.25s ease-out;
}

.controls button:not(:disabled):active {
	transform: scale(0.95);
}

.controls button:disabled {
	cursor: default;
}

.controls button svg {
	width: 2.2rem;
	color: black;
}

.start,
.stop {
	background-color: var(--lime);
}

.laps {
	margin: 0 auto;
	width: 40%;
	color: var(--white);
	box-sizing: border-box;
	overflow: auto;
}

.laps::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}

.laps::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: var(--border);
}

table {
	padding: 0 0.5rem;
	font-size: 0.95rem;
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
}

table th,
table td {
	text-align: left;
	word-spacing: 1.5rem;
	padding: 1rem 0;
}

thead {
	position: sticky;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

thead th {
	border-bottom: 1px solid var(--border);
}

.help {
	display: flex;
	align-items: flex-end;
	gap: 0.4rem;
	flex-direction: column;
	position: fixed;
	top: 2rem;
	right: 2rem;
	font-size: 0.9rem;
}

.help button {
	border: none;
	background-color: transparent;
}

.help button svg {
	color: var(--white);
	width: 2rem;
}

.help-info {
	border: 1px solid rgb(48, 48, 48);
	gap: 1rem;
	padding: 1rem;
	border-radius: 15px;
	display: none;
	background-color: rgb(41, 41, 41);
	color: var(--white);
}

.help:hover .help-info {
	display: flex;
}

.key {
	text-align: center;
	user-select: none;
	font-weight: bold;
	font-size: 0.8rem;
	border: 2px solid var(--white);
	border-radius: 10px;
	padding: 1rem;
}

.key-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1500px) {
	body {
		grid-template-rows: 50% 1fr;
		gap: 4rem;
	}

	.laps {
		width: 50%;
	}

	.help {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 1250px) {
	.laps {
		width: 60%;
	}
}

@media screen and (max-width: 1024px) {
	.laps {
		width: 80%;
	}

	.help-info {
		gap: 1.5rem;
		flex-direction: column;
	}

	.key {
		box-sizing: border-box;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.laps {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.timer {
		font-size: 6rem;
	}

	.controls button {
		padding: 0.5rem;
	}

	.controls button svg {
		width: 2rem;
	}
}

@media screen and (max-width: 425px) {
	.timer {
		font-size: 5rem;
	}

	body {
		grid-template-rows: auto 1fr;
		gap: 3rem;
		padding: 0 0.5rem;
	}

	.stopwatch {
		margin-top: 4rem
	}

	table {
		table-layout: auto;
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 335px) {
	.timer {
		font-size: 4rem;
	}

	.controls button svg {
		width: 1.5rem;
	}

	body {
		gap: 2.5rem;
	}
}

@media screen and (max-width: 290px) {
	table {
		font-size: 0.7rem;
	}

	table th,
	table td {
		word-spacing: 1rem;
	}
}