@font-face {
	font-family: Roboto;
	src: url("/fonts/Roboto-Variable.ttf") format("truetype");
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

::selection {
	background-color: black;
	color: white;
}

:root {
	font-family: Roboto;
	--border-radius: 50px;
	--grid-gap: 10px;
	--panel-padding: 30px;
	--item-background: #758893;
	--heading-size: 5.5rem;
	--text-size: 1.2rem;
	--transition: 0.25s ease-in-out;
}

body {
	background: linear-gradient(135deg, #171B1F, #1F0804);
}

main {
	box-sizing: border-box;
	padding: var(--panel-padding);
	height: 100vh;
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: repeat(2, 1fr);
}

.panel-right {
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 40% auto;
}

.panel-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	background-color: var(--item-background);
	border-radius: var(--border-radius);
	grid-column: span 2;
	padding: var(--panel-padding);
	transition: transform var(--transition);
}

.panel-actions {
	align-self: flex-start;
	margin-top: auto;
}

.panel-item:hover {
	transform: translateY(-3px);
}

.panel-item h1 {
	font-size: var(--heading-size);
	font-weight: normal;
	margin-bottom: 10px;
}

.panel-item p,
.place p {
	font-size: var(--text-size);
}

.panel-actions>a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: black;
	text-decoration: none;
	font-size: var(--text-size);
}

.panel-actions>a .svg-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 15px;
	border-radius: 50%;
	width: 24px;
	transition: transform var(--transition);
}

.panel-actions>a:hover .svg-wrapper {
	transform: scale(1.05);
}

.panel-item-mini {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-size: var(--text-size);
	text-decoration: none;
	color: black;
	position: relative;
	background-color: var(--item-background);
	border-radius: var(--border-radius);
	transition: transform var(--transition);
}

.panel-item-mini:hover {
	transform: translateY(-3px);
}

.panel-item-mini img {
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.panel-item-mini p {
	z-index: 1;
	text-align: center;
	padding: var(--panel-padding);
}

.linkarrow {
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	border-radius: 50%;
	transition: var(--transition);
}

.linkarrow:hover {
	transform: scale(1.05);
}

.linkarrow svg {
	width: 20px;
	color: white;
	transform: rotate(45deg);
}

.panel-left {
	overflow: hidden;
	position: relative;
	border-radius: var(--border-radius);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.shadow-layer {
	color: white;
	padding: var(--panel-padding);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	gap: 5px;
	z-index: 2;
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5));
}

.shadow-layer span,
.place span {
	padding: 5px 10px;
	background-color: blue;
	border-radius: 20px;
	font-size: 0.9rem;
}

.shadow-layer h1 {
	font-weight: normal;
	font-size: var(--heading-size);
}

.map-frame {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	height: 100vh;
	padding: var(--panel-padding);
	gap: 20px;
}

.map-frame a {
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 30px;
	padding: 3px 10px;
	gap: 10px;
	font-size: var(--text-size);
	background-color: var(--item-background);
	border-radius: 20px;
}

.map-frame a svg {
	display: none;
	transform: rotate(270deg);
	width: var(--text-size);
}

.map-frame a:hover svg {
	display: block;
}

.map-frame iframe {
	width: 100%;
	border: none;
	height: 100%;
	border-radius: 20px;
}

.arrowforward {
	bottom: var(--panel-padding);
	right: var(--panel-padding);
}

.arrowback {
	top: var(--panel-padding);
	left: var(--panel-padding);
}

.arrowback svg {
	transform: rotate(270deg);
}

.panel-right-other {
	grid-template-rows: max-content auto;
}

.panel-item-mini-other {
	justify-content: center;
}

.panel-item-mini-other img {
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	filter: brightness(0.5);
	transition: opacity var(--transition);
}

.panel-item-mini-other:hover img {
	opacity: 1;
}

.panel-item-mini-other p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: var(--transition);
}

.panel-item-mini-other:hover p {
	background-color: rbga(0, 0, 0, 0.5);
	color: white;
	backdrop-filter: blur(5px);
}

.places-main {
	display: block;
}

.places {
	display: flex;
	flex-flow: row nowrap;
	gap: 10px;
	height: 100%;
}

.place {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	padding: var(--panel-padding);
	border-radius: var(--border-radius);
	flex-grow: 1;
	transition: var(--transition);
	filter: grayscale(1);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.place:hover {
	flex-grow: 2.5;
	filter: grayscale(0);
}

.place h1 {
	min-width: max-content;
	opacity: 0;
	font-size: 3rem;
	font-weight: normal;
	margin-bottom: 10px;
	transition: var(--transition) 0.35s;
}

.place p {
	opacity: 0;
	transition: var(--transition) 0.45s;
}

.place span {
	opacity: 0;
	transition: var(--transition) 0.25s;
}

.place:hover h1,
.place:hover p,
.place:hover span,
.place:hover .shadow-layer {
	opacity: 1;
}

.place .shadow-layer {
	opacity: 0;
	transition: var(--transition);
	left: 0px;
	top: 0px;
	position: absolute;
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.9));
}

.places .arrowback {
	top: calc(var(--panel-padding) + 20px);
	left: calc(var(--panel-padding) + 20px);
}

.shadow-layer p {
	font-size: var(--text-size);
}

@media screen and (max-width: 1440px) {
	:root {
		--heading-size: 4.5rem;
	}

	.place h1 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 1250px) {
	:root {
		--heading-size: 4rem;
	}

	.place h1 {
		font-size: 1.5rem;
	}

	.panel-right {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
	}

	.panel-item {
		box-sizing: border-box;
		grid-column: 1;
	}

	.panel-item-mini {
		align-items: center;
		flex-direction: row;
	}

	.panel-item-mini img {
		max-width: 50%;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.panel-item-mini-other img {
		max-width: 100%;
	}

	.panel-item-mini p {
		width: 100%;
		text-align: center;
	}

	.panel-right-other {
		grid-template-columns: repeat(2, 1fr);
	}

	.panel-right-other .panel-item {
		grid-column: span 2;
	}
}

@media screen and (max-width: 1024px) {
	:root {
		--heading-size: 3rem;
		--text-size: 1.05rem;
		--panel-padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	:root {
		--heading-size: 2.5rem;
	}

	.place:hover {
		flex-grow: 5;
	}
}

@media screen and (max-width: 550px) {
	:root {
		--heading-size: 2rem;
		--text-size: 1rem;
		--border-radius: 20px;
		--panel-padding: 20px;
	}

	main {
		grid-template-columns: 1fr;
		height: auto;
	}

	.panel-left {
		height: 250px;
	}

	.panel-actions {
		margin-top: 20px;
	}

	.panel-actions>a .svg-wrapper {
		width: 20px;
	}

	.linkarrow svg {
		width: 15px;
	}

	.panel-right-other {
		grid-template-columns: 1fr;
	}

	.panel-right-other .panel-item {
		grid-column: 1;
	}

	.panel-item-mini-other {
		padding: 5px 0px;
	}

	.panel-item-mini-other p {
		justify-content: flex-start;
	}

	.places-main {
		height: 100vh;
	}

	.places {
		flex-direction: column;
	}

	.place:hover {
		flex-grow: 4;
	}
}