@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Variable.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

::selection {
    background-color: black;
    color: white;
}

:root {
    font-family: Roboto;
    --border-radius: 50px;
    --grid-gap: 10px;
    --panel-padding: 30px;
    --item-background: #758893;
    --heading-size: 5.5rem;
    --text-size: 1.2rem;
    --transition: 0.25s ease-in-out;
}

body {
    background: linear-gradient(135deg, #171B1F, #1F0804);
}

main {
    box-sizing: border-box;
    padding: 30px;
    height: 100vh;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
}

.panel-right {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% auto;
}

.panel-item {
    position: relative;
    background-color: var(--item-background);
    border-radius: var(--border-radius);
    grid-column: span 2;
    padding: var(--panel-padding);
    transition: transform var(--transition);
}

.panel-item:hover {
    transform: translateY(-3px);
}

.panel-item h1 {
    font-size: var(--heading-size);
    font-weight: normal;
    margin-bottom: 10px;
}

.panel-item p {
    font-size: var(--text-size);
}

.panel-actions {
    position: absolute;
    bottom: var(--panel-padding);
}

.panel-actions>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
    font-size: var(--text-size);
}

.panel-actions>a .svg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 50%;
    width: 24px;
    transition: transform var(--transition);
}

.panel-actions>a:hover .svg-wrapper {
    transform: scale(1.05);
}

.panel-item-mini {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: var(--text-size);
    text-decoration: none;
    color: black;
    position: relative;
    background-color: var(--item-background);
    border-radius: var(--border-radius);
    transition: transform var(--transition);
}

.panel-item-mini:hover {
    transform: translateY(-3px);
}

.panel-item-mini img {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.arrowlink {
    z-index: 1;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.panel-item-mini p {
    text-align: center;
    padding: var(--panel-padding);
}

.panel-item-mini a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: var(--panel-padding);
    right: var(--panel-padding);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 50%;
    transition: var(--transition);
}

.panel-item-mini a:hover {
    transform: scale(1.05);
}

.panel-item-mini a svg {
    width: 20px;
    color: white;
    transform: rotate(45deg);
}

.panel-left {
    overflow: hidden;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/images/city.webp");
    border-radius: var(--border-radius);
}

.shadow-layer {
    color: white;
    padding: var(--panel-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 5px;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5));
}

.shadow-layer span {
    padding: 5px 10px;
    background-color: blue;
    border-radius: 20px;
    font-size: 0.9rem;
}

.shadow-layer h1 {
    font-weight: normal;
    font-size: var(--heading-size);
}

.map-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    height: 100vh;
    padding: 30px;
    gap: 20px;
}

.map-frame a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    padding: 3px 10px;
    gap: 10px;
    font-size: var(--text-size);
    background-color: var(--item-background);
    border-radius: 20px;
}

.map-frame a svg {
    display: none;
    transform: rotate(270deg);
    width: var(--text-size);
}

.map-frame a:hover svg {
    display: block;
}

.map-frame iframe {
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 20px;
}