@font-face {
	font-family: OpenSans;
	src: url(/fonts/OpenSans-Variable.ttf) format("truetype");
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: OpenSans;
}

:root {
	--bg-card: #dffdff;
	--border: #E5E1EE;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	padding: 20px 30px;
	gap: 30px;
	display: flex;
	background-color: var(--bg-card);
	justify-content: center;
	align-items: center;
	border-bottom: 6px solid var(--border);
}

.card img {
	width: 150px;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: right;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.card-info h1 {
	font-size: 1.5rem;
}

.card-info h3 {
	font-size: 1rem;
}

@media screen and (max-width: 500px) {
	.card img {
		width: 130px;
	}

	.card-info h1 {
		font-size: 1.2rem;
	}

	.card-info p {
		font-size: 0.9rem;
	}

	.card-info h3 {
		font-size: 0.9rem;
	}

	.card {
		padding: 15px 20px;
	}
}